* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.main-conteiner-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    height: 100%;
    grid-row-gap: 1em;
}

.row1,
.row3 {
    display: grid;
    background-color: #9BC1BC;
    padding: 1em;
    align-items: center;
}

.row3 {
    text-align: center;
}

.row2 {
    height: 100%;
    background-color: #f1f1f1;
}

.two-column {
    display: grid;
    grid-template-columns: 2fr 8fr;
    background-color: #FFF;
    grid-column-gap: 1em;
    background-color: #9BC1BC;
}

.c1 {
    min-width: 200px;
}

.c1,
.c3 {
    background-color: #9BC1BC;
}

.txt-center {
    text-align: center;
    margin: 15px auto 0px;
    border-bottom: 1px solid #F4F1BB;
    padding-bottom: 15px;
    color: #F4F1BB;
}

.left-nav {
    list-style-type: none;
}

.left-nav>li>a {
    display: block;
    padding: 15px 0px 15px 30px;
    padding-left: 30px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.7s;
    color: #F4F1BB;
}

.left-nav>li>a:hover {
    background-color: #E6EBE0;
}

.row1>.logo {
    align-self: center;
    max-height: 40px;
    margin-left: 20px;
    background-color: #9BC1BC;
}

.footerText {
    background-color: #9BC1BC;
    color: #F4F1BB;
}

.h1Heading {
    color: #F4F1BB;
    grid-column: 1 / 5;
    height: 22px;
    width: 100%;
}

.pText {
    grid-column: 1 / 5;
    height: 22px;
    width: 100%;
    text-align: center;
    margin: 5px auto;
    color: #F4F1BB;
}


.c2>img {
    margin-top: 1em;
    width: 100%;
    align-self: center;
    max-height: 130px;
}

.c2-first-row {
    grid-column: 1 / 5;
}

.product-table {
    display: table;
    width: 100%;
}

.product-table thead {
    font-size: 16px;
    font-weight: bold;
    background-color: #CCC;
}

.product-table td {
    border: 1px solid #f1f1f1;
}

.product-table>tbody>tr>td>img {
    max-width: 80px;
}

.coffeeDetails {
    padding: 7px 16px;
    background-color: green;
    float: right;
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
    transition-duration: 0.5s;
}

.coffeeDetails:hover {
    background-color: #9cb69c;
}
